<div class="container">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10">
    <h2>新規作成</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :名前 %><br />
        <%= f.text_field :name, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
        <div class="birth_date_field">
          <%= f.label :誕生日 %>
          <%= f.date_select(:birthday,
                             start_year:  1930,
                             end_year:    (Time.now.year - 18),
                             default:     Date.new(1989, 1, 1)) %>
        </div>
      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    
      <div class="field">
        <%= f.label :パスワードの確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
      <br>



      <div class="actions">
        <%= f.submit "新規作成", class: "btn btn-primary btn-block btn-sucsess" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>
