<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h2 class="text-center">空き家一覧</h2>
    <div id="map_all"></div>
    <% @houses.each do |house| %>
      <div class="index-house">
        <div class="index-house-header list-inline">
          <li><h4><strong><%= link_to  house.title , house_path(house.id) %></strong></h4></li>
          <li>更新日:<%= house.updated_at.strftime("%Y-%m-%d") %></li>
        </div>
        <div class="index-house-body list-inline">
          <% if house.article.images[0] %>
            <p><%= image_tag(house.article.images[0].avator, :class => "index-image") %></p>
          <% end %>
          <div class="index-house-text">
            <p><%= truncate(house.article.content) %></p>
          </div>
        </div>
        <div class="house-buttons-field">
          <div class="link_button-field">
            <%= link_to "詳細を見る", house_path(house.id), class: 'btn btn-default btn-sm btn-success' %>
          </div>
          <div class="favorite_button-field">
          <% if current_user %>
            <div id="favorite_<%= house.id %>">
              <%= render partial: 'houses/favorite', locals: { house: house, favorite: Favorite.get_favorite_info(current_user&.id, house.id) } %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
</div>

<script>
  var handler = Gmaps.build('Google');
  markers_json = <%=raw @hash.to_json %>;
  handler.buildMap({ provider: {}, internal: {id: 'map_all'}}, function(){
    var markers = handler.addMarkers(markers_json);
    handler.bounds.extendWith(markers);
    for (var i = 0; i < markers.length; i++) {
      var link = markers_json[i].link;
      google.maps.event.addListener(markers[i].getServiceObject(), 'click', function(){
        window.location.href = link;
      })
      attachSecretMessage(markers[i], markers_json[i]);
    }
    function attachSecretMessage(marker, markers_json) {
      var infowindow = new google.maps.InfoWindow({
        content:  markers_json.infowindow
      });
      google.maps.event.addListener(marker.getServiceObject(), 'mouseover', function() {
        infowindow.open(marker, this);
      });
      google.maps.event.addListener(marker.getServiceObject(), 'mouseout', function(){
        infowindow.close();
      });
    }
    handler.fitMapToBounds();
  });
</script>