<div class="container">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-xl-12">
    <h2 class="text-center">空き家一覧</h2>
    <div id="map_all"></div>
    <p class="text-danger">※各空き家の記事は開発者の想像力で書いたフィクションです。予めご了承下さい</p>
    <% @houses.each do |house| %>
      <div class="index-house">
        <div class="index-house-header list-inline">
          <li><h4><strong><%= link_to  house.title , house_path(house.id) %></strong></h4></li>
          <li class="fa fa-pencil-square-o">:<%= house.created_at.strftime("%Y-%m-%d") %></li>
          <li class="fa fa-rotate-left">:<%= house.updated_at.strftime("%Y-%m-%d") %></li>
        </div>
        <div class="index-house-body">
          <div class="index-house-body-left col-xs-12 col-md-6">
                <% if house.article.images[0] %>
                  <%= image_tag(house.article.images[0].avator, :class => "index-image") %>
                <% end %>
          </div>
          <div class="index-house-body-right  col-xs-12 col-md-6">
                <div class="index-house-text">
                  <p><%= truncate(strip_tags(house.article.content)) %></p>
                </div>
          </div>
        </div>
        <div class="house-buttons-field">
          <div class="link_button-field">
            <%= link_to "詳細を見る", house_path(house.id), class: 'btn btn-default btn-sm btn-success' %>
          </div>
          <div class="favorite_button-field">
          <% if current_user %>
            <div id="favorite_<%= house.id %>">
              <%= render partial: 'houses/favorite', locals: { house: house, favorite: Favorite.get_favorite_info(current_user.id, house.id) } %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render partial: 'return' %>
</div>

<script>
  var handler = Gmaps.build('Google');
  markers_json = <%=raw @hash.to_json %>;
  handler.buildMap({ provider: {}, internal: {id: 'map_all'}}, function(){
    var markers = handler.addMarkers(markers_json);
    handler.bounds.extendWith(markers);
    for (var i = 0; i < markers.length; i++) {
      attachSecretMessage(markers[i], markers_json[i]);
    }
    function attachSecretMessage(marker, markers_json) {
      var infowindow = new google.maps.InfoWindow({
        content:  markers_json.infowindow
      });
      google.maps.event.addListener(marker.getServiceObject(), 'mouseover', function() {
        infowindow.open(marker, this);
      });
      google.maps.event.addListener(marker.getServiceObject(), 'mouseout', function(){
        infowindow.close();
      });
      google.maps.event.addListener(marker.getServiceObject(), 'click', function(){
        window.location.href = markers_json.link;
      })
    }
    handler.fitMapToBounds();
  });
</script>
