<div class="container">
  <div class="wrapper col-xl-12 col-md-8 col-md-offset-2 col-sm-10">

      <div class="row">
        　<ul class="list-inline">
            <li><h4><strong><%= @house.title %></strong></h4></li>
            <li><div id="favorite">
              <%= render partial: 'houses/favorite', locals: { house: @house, favorite: @favorite } %>
            </div></li>
          </ul>
          <p>更新日:<%= @house.updated_at %></p>
          <hr>
          <p>本文:<%= @house.description %></p>
          <p>記事:<%= @house.article.content %></p>
          <!--画像表示-->
          <% if @house.article.images[0] %>
            <% @house.article.images.each do |image| %>
            <p><%= image_tag(image.avator)%></p>
            <% end %>
          <% end %>
          <!--物件スペック情報-->
          <div class="house-spec col-xl-6 col-xl-offset-3 col-md-6 col-md-offset-3 col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">項目</th>
                  <th scope="col">詳細データ</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">敷地面積</th>
                  <td><%= @house.scale %></td>
                </tr>
                <tr>
                  <th scope="row">構造1</th>
                  <td><%= @house.construction %></td>
                </tr>
                <tr>
                  <th scope="row">構造2</th>
                  <td><%= @house.structure %></td>
                </tr>
                <tr>
                  <th scope="row">トイレ</th>
                  <td><%= @house.toilet %></td>
                </tr>
                <tr>
                  <th scope="row">価格</th>
                  <td><%= @house.price %></td>
                </tr>
                <tr>
                  <th scope="row">メモ</th>
                  <td><%= @house.note %></td>
                </tr>
                <tr>
                  <th scope="row">住所</th>
                  <td><%= @house.address %></td>
                </tr>
                <tr>
                  <th scope="row">電話番号</th>
                  <td><%= @house.tel %></td>
                </tr>
                <tr>
                  <th scope="row">メール</th>
                  <td><%= @house.email %></td>
                </tr>
                <tr>
                  <th scope="row">売買可否</th>
                  <td><%= @house.release_status %></td>
                </tr>
                <tr>
                  <th scope="row">賃貸可否</th>
                  <td><%= @house.expenses_status %></td>
                </tr>
              </tbody>
            </table>
           </div>
          </div>
          <div id="detail-map"></div>
        </div>
      <hr>
  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
</div>

<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'detail-map'}}, function(){
    var circles = handler.addCircles(
      [{ lat: <%= @pin[0][:lat] %>, lng: <%= @pin[0][:lng] %>, radius: 200 }],
      { strokeColor: '#ffffff' , fillColor: '#FF0000', strokeWeight: 0 , strokeOpacity: 0.4}
    );
    handler.bounds.extendWith(circles);
    handler.fitMapToBounds();
  });
</script>