<div class="container">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-xl-12">
      <div class="row">
          <ul class="list-inline">
            <li><h4><strong><%= @house.title %></strong></h4></li>
            <% if current_user %>
              <li><div id="favorite_<%= @house.id %>">
                <%= render partial: 'houses/favorite', locals: { house: @house, favorite: @favorite } %>
              </div></li>
            <% end %>
          </ul>
          <ul class="list-inline">
          <li class="fa fa-pencil-square-o">:<%= @house.created_at.strftime("%Y-%m-%d") %></li>
          <li class="fa fa-rotate-left">:<%= @house.updated_at.strftime("%Y-%m-%d") %></li>
          <hr>
          </ul>
          <p><% @house.description %></p>
          <div class="house-story">
          <p><%= @house.article.content.html_safe %></p>
          </div>
          <hr>
          <% if current_user %>
            <!--画像表示-->
            <p class="text-center">空き家の様子</p>
            <div class="show-images">
            <% if @house.article.images[0] %>
              <% @house.article.images.first(7).each do |image| %>
              <%= image_tag(image.avator,:class => "show-image") %>
              <% end %>
            <% end %>
            </div>
            <hr>
            <p class="text-center">間取り図</p>
            <img class="madori" src="<%= @house.article.images[7].avator %>">
            <hr>
            <!--物件スペック情報-->
            <p class="text-center">詳細情報</p>
            <div class="house-spec">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">敷地面積</th>
                    <td><%= @house.scale %></td>
                  </tr>
                  <tr>
                    <th scope="row">建築年</th>
                    <td><%= @house.construction %></td>
                  </tr>
                  <tr>
                    <th scope="row">用途</th>
                    <td><%= @house.structure %></td>
                  </tr>
                  <tr>
                    <th scope="row">トイレ</th>
                    <td><%= @house.toilet %></td>
                  </tr>
                  <tr>
                    <th scope="row">住所</th>
                    <td><%= @house.address %></td>
                  </tr>
                  <tr>
                    <th scope="row">売買/賃貸</th>
                    <td><%= @house.expenses_status %></td>
                  </tr>
                  <tr>
                    <th scope="row">価格</th>
                    <td><%= @house.price %></td>
                  </tr>
                  <tr>
                    <th scope="row">メモ</th>
                    <td><%= @house.note %></td>
                  </tr>
                </tbody>
              </table>
             </div>
            </div>
            <div class="message_btn_filed">
              <%= link_to messages_path, class: 'btn btn-info btn-lg' do %>
                <i class="fa fa-search" aria-hidden="true"></i><%= ' ' + @house.title + ' についてもっと調べる' %>
              <% end %>
            </div>
          <% else %>
            <div class="user_login_button_filed">
              <%= link_to new_user_session_path, class: 'btn btn-success btn-lg' do %>
                <i class="fa fa-search" aria-hidden="true"></i><%= 'お宝の続きはこちら' %>
              <% end %>
            </div>
          <% end %>
        <div id="detail-map"></div>
        </div>
  </div>
  <%= render partial: 'return' %>
<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'detail-map'}}, function(){
    var circles = handler.addCircles(
      [{ lat: <%= @pin[0][:lat] %>, lng: <%= @pin[0][:lng] %>, radius: 200 }],
      { strokeColor: '#ffffff' , fillColor: '#FF0000', strokeWeight: 0 , strokeOpacity: 0.4}
    );
    handler.bounds.extendWith(circles);
    handler.fitMapToBounds();
  });
</script>
