<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <% @conversations.each do |conversation| %>
      <% unless conversation.messages.empty? %>
          <% if conversation.messages.last.user_id === admin_status %>
            <div class="conversation_from_user_field">
              <li>
                <%= link_to conversation.sender.name, messages_path(user_id: conversation.sender.id) %>
                <div class="message_time">
                  <%= '最終投稿時間: ' + conversation.messages.last.created_at.strftime('%Y/%m/%d %H:%M') %>
                </div>
              </li>
            </div>
         <% else %>
          <div class="conversation_to_admin_field">
            <li>
              <%= link_to conversation.sender.name, messages_path(user_id: conversation.sender.id) %>
              <div class="message_time">
                <%= '最終投稿時間: ' + conversation.messages.last.created_at.strftime('%Y/%m/%d %H:%M') %>
              </div>
            </li>
          </div>
        <% end %>
      <% else %>
        <div class="conversation_from_user_field">
          <li><%= link_to conversation.sender.name, messages_path(user_id: conversation.sender.id) %></li>
        </div>
      <% end %>
    <% end %>
  </div>
</div>