<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    
      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :記憶させる %>
        </div>
      <% end -%>
    
      <div class="actions">
        <%= f.submit "ログイン",class: "btn btn-primary btn-block btn-sucsess" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>
